# Bare-metal unattended Kali installer profile.
# Set INSTALL_DISK explicitly to avoid writing to the wrong disk.

d-i debian-installer/locale string @@LOCALE@@
d-i keyboard-configuration/xkb-keymap select @@KEYMAP@@

d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string @@HOSTNAME@@
d-i netcfg/get_domain string @@DOMAIN@@

d-i clock-setup/utc boolean true
d-i time/zone string @@TIMEZONE@@
d-i clock-setup/ntp boolean true

d-i mirror/country string manual
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /kali
d-i mirror/http/proxy string

d-i passwd/root-login boolean false
d-i passwd/make-user boolean true
d-i passwd/user-fullname string @@FULLNAME@@
d-i passwd/username string @@USERNAME@@
d-i passwd/user-password-crypted password @@PASSWORD_HASH@@
d-i user-setup/allow-password-weak boolean true

d-i partman-auto/disk string @@INSTALL_DISK@@
d-i partman-auto/method string regular
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string @@GRUB_BOOTDEV@@

tasksel tasksel/first multiselect standard
d-i pkgsel/include string @@PKGSEL_INCLUDE@@
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false

d-i finish-install/reboot_in_progress note
d-i preseed/late_command string \
    cp -r /cdrom/custom-root/. /target/; \
    in-target chmod 0755 /usr/local/bin/ip_panel.sh /usr/local/bin/WireGuard_cfg_batch_import.sh /usr/local/sbin/osint-postinstall; \
    in-target /usr/local/sbin/osint-postinstall --username @@USERNAME@@
